<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title style="color:#28a745; size:24px; align-content:center; position:absolute;">Samsa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <style>
        .btn-default{color:#28a745;}
        body{
            background: #8de5f9;
        }
        footer{
            position: absolute;
            background:#a7b1f9;
            color: #343a40;
            width: 10%;
            font-style:italic;
            text-align:right;

        }
        .form-control{
            color: #5f5d7d;
            font: message-box;
        }
        .col-lg-2{
            font-size:24px;
            color: #000000;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Samsa</h1>

                <form class="form-horizontal" th:action="@{/samsa/{id}/torts(id=${samsa.id})}"
                      method="post" enctype="multipart/form-data" >
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" disabled = "disabled"
                                       th:value="${samsa.firstName + ' ' + samsa.lastName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" disabled="disabled"
                                       th:value="${samsa.email}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Tort</label>
                            <div class="col-lg-10">
                                <div th:each="tort : ${samsa.torts}">
                                    <span th:text="${tort.label}" /> - <span th:text="${tort.description}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6  col-lg-offset-2">
                                <div class="input-group">
                                    <select name="tortId" class="form-control">
                                        <option th:each="tort : ${torts}"
                                                th:value="${tort.id}"
                                                th:text="${tort.description}">Tort</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">Add a Tort</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    &copy;ZhuldyzCosmeicts
</footer>

</body>
</html>